*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #EAC926;
    padding-bottom: 15px;
}
main{
   width: 90%;
   margin: 0 auto;
}
body {
    background-color: #ebebeb;
    margin: 0 auto;
}
ul{
    list-style:none
}
p {
    font-size: 12px;
}
.search__bar {
    margin-left: 5%;
}
.icon__search{
    margin-left: 5%;
}
.fa-magnifying-glass{
    background-color: white;
}
.payment__methods {
    text-align: center;
}
.h2__headlines {
    font-size: 24px;
    color: #666;
}
.product__price {
font-size: 18px;
}
.product__discount {
font-size: 16px;
color: #39b54a;
}
.product__description {
font-size: 16px;
display: none;
}
footer {
    text-align: center;
    background-color: white;
}
.burger-menu{
    text-align: center;
}
.fa-bars{
    background-color: #1259c3;
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-size: 24px;
}
.fa-truck{
    color:#39b54a;
    padding: 8px;
    border: 1px solid #39b54a;
    border-radius: 100%;

}
.trucks{
    display: flex;
    justify-content: end;
}
.fa-credit-card{
    color:#03264C;
    font-size: 2em;
    margin-bottom: 10px;
}
.fa-gift{
    color:#03264C;
    font-size: 2em;
    margin-bottom: 10px;
}
.fa-user-shield{
    color:#03264C;
    font-size: 2em;
    margin-bottom: 10px;
}
.footer__headlines{
    font-weight: bold;
    color: #666;
}
.card__product{
    background-color: white;
    margin: 10px;
}
.product-info{
    border: 1px solid #ebebeb;
    padding: 15px;

}

.nav__bar{
    display: none;
}

.nav__login{
    display: none;
}

/*Tablets*/
@media (min-width: 361px){
    .product__description{
        display: block;
    }
    .card__product{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .nav__bar{
        display: block;
    }
    .nav__login{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    

}

/*Desktop*/
@media (min-width: 769px){
    .product__description{
        display: block;
    }
    .card__product{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .nav__bar{
        display: block;
    }
    
    .nav__login{
        display: block;
    }
    .burger-menu{
        display: none;
    }
    
}